<h1> Saved NFL Articles </h1>
{{#each headlines}}
{{#if saved}}
<div id="articles">
    <h5> {{title}} </h5>
</div>

<p> {{summary}}
<a href ={{link}}> Read More! </a>
</p>




<div id="notes" data-id="{{id}}"> </div>
  <button class="btn btn-success delete" data-id="{{id}}"> Delete This Article </button>
   <button class="btn btn-success addnote" data-id="{{id}}"> Add A Note </button>
   <p data-id="{{id}}"> Notes: </p>
     
              
              
{{#each note}}
<p>  {{body}} </p>
{{/each}}

 {{/if}}
{{/each}}

